<h2>{{ game.title }}</h2>

<p>{{ game.description }}</p>

<p>Тип гри: {{ game.get_type_display }}</p>

<p>
    Середній рейтинг:
    {% if avg_rating %}
        {{ avg_rating|floatformat:1 }} / 10
    {% else %}
        Немає оцінок
    {% endif %}
</p>

<hr>

{% if user.is_authenticated %}
    <a href="/games/{{ game.id }}/add/">Додати в бібліотеку</a>
{% endif %}

<hr>

<h3>Коментарі</h3>

{% for comment in comments %}
    <p>
        <strong>
            <a href="/profile/{{ comment.user.username }}/">
                {{ comment.user.username }}
            </a>
        </strong>:
        {{ comment.text }}

        (👍 {{ comment.likes.count }})

        {% if user.is_authenticated %}
            <a href="/comment/{{ comment.id }}/like/">Лайк</a>
        {% endif %}

        {% if comment.user == user %}
            <a href="/comment/{{ comment.id }}/edit/">Редагувати</a>
            <a href="/comment/{{ comment.id }}/delete/">Видалити</a>
        {% endif %}
    </p>
{% endfor %}

<hr>

{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <textarea name="text"></textarea>
    <button type="submit">Коментувати</button>
</form>
{% endif %}