<h2>Список ігор</h2>

<form method="get">

    <input type="text" name="q" placeholder="Пошук гри">

    <select name="type">
        <option value="">Всі типи</option>
        <option value="single">Singleplayer</option>
        <option value="online">Online</option>
        <option value="coop">Coop</option>
    </select>

    <button type="submit">Фільтрувати</button>
</form>

<ul>
{% for game in page_obj %}
    <li>
        <a href="/games/{{ game.id }}/">
            {{ game.title }}
        </a>
        ({{ game.get_type_display }})
    </li>
{% endfor %}
</ul>

<hr>

<div>
    {% if page_obj.has_previous %}
        <a href="?page=1"><<</a>
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">>></a>
    {% endif %}
</div>