{% extends 'base.html' %}

{% block content %}

<h2>Список ігор</h2>

<div class="card">
<form method="get">

    <input type="text" name="q" placeholder="Пошук гри">

    <select name="type">
        <option value="">Всі типи</option>
        <option value="single">Singleplayer</option>
        <option value="online">Online</option>
        <option value="coop">Coop</option>
    </select>

    <select name="sort">
        <option value="">Без сортування</option>
        <option value="rating_desc">Рейтинг ↓</option>
        <option value="rating_asc">Рейтинг ↑</option>
        <option value="title">Назва</option>
        <option value="date">Нові</option>
    </select>

    <button type="submit">Застосувати</button>
</form>
</div>

{% for game in page_obj %}
<div class="card">
    <a href="/games/{{ game.id }}/">
        <h3>{{ game.title }}</h3>
    </a>

    <p>{{ game.get_type_display }}</p>

    {% if game.avg_rating %}
        <p>{{ game.avg_rating|floatformat:1 }}/10</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}