<h1>GameLog</h1>

{% if user.is_authenticated %}
<p>Привіт, {{ user.username }}</p>
<a href="/logout/">Вийти</a>
{% else %}
<a href="/login/">Логін</a>
<a href="/register/">Реєстрація</a>
{% endif %}

<br><br>

<a href="/games/">Список ігор</a>

<hr>

<h2>Топ ігри</h2>

{% for game in top_games %}
    <p>
        <a href="/games/{{ game.id }}/">
            {{ game.title }}
        </a>
        — {{ game.avg_rating|floatformat:1 }}/10
    </p>
{% empty %}
    <p>Ще немає оцінених ігор</p>
{% endfor %}