<h2>Профіль: {{ profile_user.username }}</h2>

<p>Кількість ігор: {{ total_games }}</p>

<p>
    Середній рейтинг:
    {% if avg_rating %}
        {{ avg_rating|floatformat:1 }} / 10
    {% else %}
        Немає оцінок
    {% endif %}
</p>

<hr>

<h3>Ігри:</h3>

<ul>
{% for ug in user_games %}
    <li>
        <a href="/games/{{ ug.game.id }}/">
            {{ ug.game.title }}
        </a>
        |
        {{ ug.get_status_display }}
        |
        {% if ug.rating %}
            ⭐ {{ ug.rating }}
        {% else %}
            без оцінки
        {% endif %}
    </li>
{% empty %}
    <li>Немає ігор</li>
{% endfor %}
</ul>