{% extends 'base.html' %}

{% block content %}

<h2>Профіль: {{ profile_user.username }}</h2>

<div class="card">
<p>Кількість ігор: {{ total_games }}</p>

<p>
    Середній рейтинг:
    {% if avg_rating %}
        {{ avg_rating|floatformat:1 }} / 10
    {% else %}
        Немає оцінок
    {% endif %}
</p>
</div>

<h3>Ігри:</h3>

{% for ug in user_games %}
<div class="card">
    <a href="/games/{{ ug.game.id }}/">
        {{ ug.game.title }}
    </a>

    <p>{{ ug.get_status_display }}</p>

    {% if ug.rating %}
        ⭐ {{ ug.rating }}
    {% else %}
        без оцінки
    {% endif %}
</div>
{% empty %}
<p>Немає ігор</p>
{% endfor %}

{% endblock %}